body{
    background-color: rgb(54, 100, 193);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 5rem;
}
.choice{
    background-color: white;
    text-align: left;
    box-sizing: border-box;
    margin: 20px;
    height: 60px;
    padding: 10px;
    width: 800px;
    max-width: 1000px;
    border-radius: 5px;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
}
.choices{
    align-items: center;
    margin-left: 1rem;
    width: 800px;
    box-sizing: border-box;
    justify-content: center;
}

.btn{
 height: 60px;
 width: 150px;
 font-size: 30px;
 margin-top: 50px;
 padding: 0;
 color: white;
 /* margin-top: 2rem; */
 background-color: rgb(11, 79, 162);
 border-radius: 0.5rem;
 border-color: whitesmoke;
}
h1{
    margin-top: 0;
    font-size: 3.5rem;
    color: white;
    text-decoration: underline;
}
.qa{
    font-size: 2.5rem;
    color: white;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(247, 245, 244);
}
.msg{

    margin: 0;
    height: 30px;
    padding: 2px;
    border-radius: 0.5rem;
    align-items: center;
    text-align: left;
    font-size: 1.7rem;
    
}
.timer{
    padding:0;
    margin: 0;
    color: white;
    background-color: rgb(211, 31, 31);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    border-color: antiquewhite;
    justify-content: center;
    padding-top: 5px;
    font-size: 2.5rem;
    /* margin-left: 100vh; */
}
/* For small screens like phones*/
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
  }
}

/* For tablets and up */
 @media (min-width: 601px) {
  .container {
    flex-direction: column;
    padding: 20px;
    font-size: 18px;
}
} 
 @media (min-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 30px;
    font-size: 20px;
  }
} 